{% extends 'admin/index_admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}


    {% block content %}
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
            <div class="card w-100">
                <h2 class="text-center">Галереи</h2>
                <a href="{{ path('admin_gallery_create') }}" class="btn btn-outline-light mt-3"><i
                            class="bx-book-add"></i>Добавить галерею</a>
                <div class="container">
                    <div class="row no-gutters justify-content-center mt-3">
                        <div class="col-8">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close text-black-50" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>Id галереи</th>
                                <th>Название</th>
                                <th>Создана</th>
                                <th>Изменена</th>
                                <th>Изменить</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for gallery in galleries %}
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <input class="form-check-input me-3" type="checkbox"
                                                       value="" aria-label="...">
                                            </div>
                                            <div class="ms-2">
                                                <h6 class="mb-0 font-14">{{ gallery.id }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ gallery.title }}</td>
                                    <td>00.00.0000</td>
                                    <td>00.00.0000</td>
                                    <td>
                                        <div class="d-flex order-actions">
                                            <a href="{{ path('admin_gallery_delete', {'id': gallery.id}) }}" class="m-2"><i class='lni lni-ban'></i></a>
                                            <a href="{{ path('admin_gallery_update', {'id': gallery.id}) }}" class="m-2"><i class='lni lni-reload'></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card w-100">
                <h2 class="text-center">Фотографии</h2>
                <a href="{{ path('admin_image_create') }}" class="btn btn-outline-light mb-3"><i
                            class="bx-book-add"></i>Добавить фотографию</a>
                <div class="row">
                    {% for image in images %}
                        <div class="card w-25">
                            <div class="card-body">
                                <img src="{{ asset('uploads/gallery/') }}{{ image.fileName }}"
                                     alt="{{ image.title }}" class="img-thumbnail">
                                <h4>{{ image.title }}</h4>
                                <p>{{ image.description }}</p>
                                <div class="btn-block">
                                    <a href="{{ path('admin_image_update', {'id': image.id}) }}"
                                       class="btn btn-outline-light">Изменить</a>
                                    <a href="{{ path('admin_image_delete', {'id': image.id}) }}"
                                       class="btn btn-outline-light">Удалить</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--end row-->
    {% endblock %}

