{% extends 'admin/index_admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

    {% block content %}
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
            <div class="card w-100 p-lg-1">
                <h2 class="text-center">{{ title }}</h2>

                <div class="container">
                    <div class="row justify-content-center mt-3">
                        <div class="col-8">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close text-black-50" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center mt-3">
                        <div class="col-8 p-lg-1">
                            <a href="{{ path('admin_blog_create') }}" class="btn btn-outline-light mt-3 w-100"><i
                                        class="bx-book-add"></i>Добавить новый блог</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-100">
                <div class="row">
                    {% for blog in blogs %}
                        <div class="card w-25">
                            <div class="card-body">
                                <img src="{{ asset('uploads/blogs/') }}{{ blog.image }}"
                                     alt="{{ blog.title }}" class="img-thumbnail">
                                <h4>{{ blog.title }}</h4>
                                <p>{{ blog.content }}</p>
                                <p>Создан: {{ blog.createdAt | date }} <br> Изменён: {{ blog.updateAt | date }}</p>
                                <div class="btn-block">
                                    <a href="{{ path('admin_blog_update', {'id': blog.id}) }}"
                                       class="btn btn-outline-light">Изменить</a>
                                    <a href="{{ path('admin_blog_delete', {'id': blog.id}) }}"
                                       class="btn btn-outline-light">Удалить</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--end row-->
    {% endblock %}

